@model LoginViewModel
@{
    ViewData["Title"] = "FoodZeroWaste";
    Layout = "_LayoutStart";
}

<div class="text-center">
    <h1>Food Zero Waste</h1>
    <p>Jedz zdrowo i ogranicz wyrzucanie jedzenia!</p>

    <a class="btn btn-light" asp-action="login" asp-controller="account">Zaloguj sie</a>

    <a class="btn btn-light" asp-action="register" asp-controller="account">Zarejestruj sie</a>

</div>