@{
    ViewData["Title"] = "FoodZeroWaste";
}

<div class="text-center">
    <h1>Food Zero Waste</h1>
    <p>Jedz zdrowo i ogranicz wyrzucanie jedzenia!</p>

    <a class="btn-light" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>

    <a class="btn-light" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a>

</div>