@model List<Application.Common.Dtos.InstructionStepDto>

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "RecipieCreateDto.Components[" + ViewBag.ComponentId + "].InstructionSteps";
}

@for (int i = 0; i < Model.Count; i++)
{
    <li>
        <input asp-for="@Model[i].StepOrder" readonly />
        <input asp-for="@Model[i].Step" readonly />
    </li>
}