@model List<Application.Common.Dtos.IngredientDto>

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "Components[" + ViewBag.ComponentId + "].Ingredients";
}

@for (int i = 0; i < Model.Count; i++)
{
    <li>
        <input class="form-control-plaintext" asp-for="@Model[i].Product.Name" onfocus="this.blur()" />
        <input class="form-control-plaintext" asp-for="@Model[i].Product.Amount" onfocus="this.blur()" />
        <input class="form-control-plaintext" asp-for="@Model[i].Product.Unit" onfocus="this.blur()"/>
        <input class="form-control-plaintext" asp-for="@Model[i].Kcal" onfocus="this.blur()"/>
    </li>
}