@model List<Application.Common.Dtos.InstructionStepDto>

@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "InstructionSteps";
}

@for (int i = 0; i < Model.Count; i++)
{
    <li>
        <input class="form-control-plaintext" asp-for="@Model[i].StepOrder" />
        <input class="form-control-plaintext" asp-for="@Model[i].Step" />
    </li>
}