@{
    @using Application.Common.Dtos
    @model RecipieDto
}


<h1>@Model.Id</h1>
<h1>@Model.Title</h1>
<h1>@{
    foreach (RecipieComponentDto ing in Model.Components)
    {
        foreach (IngredientDto ingg in ing.Ingredients)
        {
            @ingg.Name;
            @ingg.Unit;
        }
    }

}
</h1>