@model FoodZeroWasteMVC.Models.Meals.MealsViewModel
@using Application.Common.Dtos

<div>
    @foreach (MealRecommendationReadDto recommendation in Model.Recommendations)
    {
        <h1>@recommendation.Recipie.Title</h1>
        <h2>@recommendation.Recipie.Servings</h2>
        <h2>@recommendation.Recipie.AllKcal</h2>
        <h3>Kcal per serving: @{var i = recommendation.Recipie.AllKcal / recommendation.Recipie.Servings;} @i</h3>

        <a class="btn btn-danger">Zapisz w moim liczniku</a>
        <a class="btn btn-danger">Przenieś na stronę przepisu</a>
        <a class="btn btn-danger">Pokaż mój licznik</a>
    }
</div>