@using Application.Common.Dtos
@model FoodZeroWasteMVC.Models.Products.ProductsViewModel

<div class="list-group w-100 align-items-center justify-content-center">
    <div class="zw-pink-lavender-bg list-group-item w-75 d-flex flex-row justify-content-center align-items-center">
        <p class="font-weight-bold zw-flex-basis-35">
            Nazwa
        </p>

        <p class="font-weight-bold zw-flex-basis-15 text-center">
            Ilość produktu
        </p>

        <p class="font-weight-bold zw-flex-basis-15 text-center mr-auto">
            Termin ważności
        </p>

        <p class="font-weight-bold">
            Dostępne akcje
        </p>
    </div>
    @foreach (ProductReadDto product in Model.Products)
    {
        <partial name="_ProductSimpleDisplayPartial" model="@product" />
    }
</div>