html, body {
    height: 100%;
}

.zw-misty-rose-bg {
    background-color: #FAE3E3;
}

.zw-pink-lavender-bg {
    background-color: #CFA5B4;
}

.zw-unbleached-silk-bg {
    background-color: #F7D4BC;
}

.zw-middle-purple-bg {
    background-color: #C98BB9;
}

.zw-chinese-violet-bg {
    background-color: #846B8A;
}

.zw-dark-sea-green-bg {
    background-color: #7FB285;
}

.zw-footer {
    height: 5%;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}